body{
    margin: 0;
    background-color: whitesmoke;
}

#post {
    grid-area: post;
}

#photoshop {
    grid-area: photoshop;
}

#header {
    grid-area: header;
    justify-self: center;
    line-height: 5em;
}

#header > a {
    font-size: 2em;
    text-decoration: none;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5em 1fr;
    grid-template-areas:
            "header  header"
            "post    photoshop"
}

#post, #photoshop {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

img:hover {
    background-color: lightgrey;
}