#container {
    /*display: flex;
    flex-direction: row;
    */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > div {
    display: inline-block;
    width: 50%;
    height: 100%;
    min-height: 0;
    min-width: 0;
}

img {
    cursor: pointer;
    max-height:100%;
    max-width: 50%;
}
img:first-child {
    margin-right: 5px;
}