body{
    margin: 0;
    background-color: whitesmoke;
}

#post {
    grid-area: post;
}

#photoshop {
    grid-area: photoshop;
}

#header {
    grid-area: header;
    justify-self: center;
    line-height: 5em;
}

#footer {
    grid-area: footer;
}

#header > a {
    font-size: 2em;
    text-decoration: none;
}

#post, #photoshop {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 1em;
}

img:hover {
    background-color: lightgrey;
}

#container {
    height: 100vh;
    width: 100vw;
}

@media screen and (min-device-width: 0px)
                and (max-device-width: 420px) {
    #container {
        display: grid;
        grid-template-columns: 1em repeat(2, 1fr) 1em;
        grid-template-rows: 5em repeat(2, 1fr) 1em;
        grid-template-areas:
                "header header    header    header"
                "...... post      post      ......"
                "...... photoshop photoshop ......"
                "footer footer    footer    footer"
    }
}

@media screen and (min-device-width: 421px) {
    #container {
        display: grid;
        grid-template-columns: 1em 1fr 1em 1fr 1em;
        grid-template-rows: 5em 1fr 1em;
        grid-template-areas:
                "header header  header header    header"
                "...... post    ...... photoshop ......"
                "footer footer  footer footer    footer"
    }
}